<div class="container-fluid">
  <div class="card mt-3 mt-custom">
    <div class="card-header">
      <h2 class="ml-2">Parkir List Available</h2>
      <p class="ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusantium temporibus pariatur ipsa
        iste! Autem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo blanditiis quasi excepturi sint,
        providentquia odit veritatis nesciunt atque. Adipisci sequi molestias praesentium incidunt ipsum, unde cumque,
        reiciendistemporibus minus commodi distinctio ea dignissimos debitis omnis, odio nemo pariatur error.
      </p>
      <div *ngIf="submitted && f.dataParkir.errors" class="col">
        <div *ngIf="submitted && f.dataParkir.errors" class="alert alert-danger">
          <div *ngIf="f.dataParkir.errors.required">Slot nama is required</div>
        </div>
      </div>

      <div *ngIf="duplicate" class="col">
        <div class="alert alert-danger">
          <div>The name Has been Exist</div>
        </div>
      </div>

      <button class="btn btn-primary ml-2" (click)="newParkir()">{{buttonTxt}}</button>
      <div class="row" *ngIf="showHide" class="mt-4">
        <div class="col-md">
          <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group w-50">
                <input class="form-control form-control-lg" type="text" name="dataParkir" [(ngModel)]="dataParkir.nama"
                  (ngModelChange)="dataParkir.nama = $event.toUpperCase()" formControlName="dataParkir"
                  [ngClass]="{'is-invalid': submitted && f.dataParkir.errors }" placeholder="Masukkan Nama Slot">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Add Slot</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr>
      <div class="card-body">
        <div *ngIf="parkir == null" class="m-1 bg-primary py-2 rounded">
          <h4 class="text-center text-white font-weight-bolder">Maaf Slot Parkir Penuh!</h4>
        </div>

        <div class="row">
          <div class="mt-2 d-flex flex-row justify-content-start flex-wrap">
            <div *ngFor="let item of parkir" class="card m-1 data-k">
              <div class="card-body">
                <h1 class="font-weight-bold">{{item.nama}}
                </h1>
                <span *ngIf="cekStatus(item.isAvailable)" class="badge badge-primary badge-pill">{{status}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-md">
          <h6>Parkir App &copy;2020 All Right Reserved</h6>
          <p>ekosutrisno801@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
